body{
    margin: 0;
}

H5{
    text-decoration: none;
}

#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding:40px 10px;
    background-color: rgb(24, 44, 94);

    font-family:sans-serif;
}

.navbar-links{
    display: inline;

}

#navbar a {
    color: rgb(225, 237, 246);
    text-decoration: none;
    
}

.navbar-links a {
    margin-left: 15px;
    padding: 10px;
}


.part1 div{
    position: relative;
}

.namelink{
    font-weight: bold;
    font-size: 1.2em;
    display:flow-root;
    margin-top: 2px;

}

div.menudesign{
    display: none;
    background-color: rgb(10, 76, 117);
    padding: 20px;
}

a.menud:hover {
    color: rgb(165, 194, 210) !important;
    font-weight: bold !important;
}

.menud:hover + div.menudesign, div.menudesign:hover{
    display: block;
    position: fixed;
}

.menudesign{
    color: rgb(224, 234, 231);
    margin: 10px;
}


div.menuArchi{
    display: none;
    background-color: rgb(3, 24, 37);
    padding: 20px;
}

a.menuA:hover {
    color: rgb(165, 194, 210) !important;
    font-weight: bold !important;
}


.menuA:hover + div.menuArchi, div.menuArchi:hover{
    display: block;
    position: fixed;
}

.menuA:hover + div.menuArchi{
    display: block;
    position: fixed;
}

.menuArchi{
    color: rgb(224, 234, 231);
    margin: 5px;
}

#homeimage{
    width: 100%;
    display: flex;
    margin-bottom: 100px ;
}

.bank{
    background-color: white;
    width: 220px;
    margin-left: 0 !important;
    margin-right:0 !important;
}

#archipart{
    width: 100vw;
    overflow: scroll;
    align-items: center;
}

#archipart::-webkit-scrollbar-thumb{
    background-color:rgb(21, 146, 171);
}

#archipart::-webkit-scrollbar-thumb{
    background-color:rgb(31, 125, 2);
}

.prestext{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 46px;
    width: 400px;
}


.righttype{
    background-color: rgb(172, 205, 223);
    text-decoration: none;
    display: flex;
    margin: 0;
    width: 2500px;
    height: 350px;
    overflow-y: hidden;
}

.righttype div {
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 0;
    align-items: center;
    color: rgb(18, 12, 93);
}


img.pictureindex {
    width: 500px;
    height: 300px;
    padding: 20px 20px 0px 0px;
}

.fondblanc{
    top: -304px;
    right: 10px;
    POSITION: relative;
}
    

h4{
    background-color: white;
    opacity: 50%;
    width: 500px;
    height: 300px;
    position: relative;
    margin: 0;
}

.righttype h5{
    position: relative;
    margin: 0;
    top: -150px;
    left: 20px;
}

.space{
    padding-bottom: 150px;
}

.space1{
    padding-bottom: 100px;
}

.space1{
    padding-bottom: 50px;
}


#designpart{
    overflow: scroll;
    height: 350px;
    scrollbar-color: blue;
    overflow-y: hidden;
}

.leftpart{
    background-color: rgb(174, 185, 210);
    display: flex;
    flex-direction: row-reverse;
    margin-right: 220px;
    height: 350px;
    width: fit-content;
    color: rgb(18, 12, 93);
    text-decoration: none;
    
}

.leftpart div{
    display: inline-block;
    align-items: center;
    margin-right: 30px;
    text-decoration: none;
}

.leftpart h5{
    position: relative;
    margin: 0;
    top: -150px;
    left: 20px;
    text-decoration: none;

}

.middlepart{
    background-color: #EDEDED;
    width: 1000px;
}

.middlepart div{
    display: inline-block;
    padding: 15px;
}
.middlepart img{
    width: 500px;
}
.middlepart h6{
    text-decoration: none;
}

#fleche-04{
    width: 150px;
}

html {
    scroll-behavior: smooth;
  }

.btn{
    color: rgb(213, 212, 225);
    background-color: rgb(11, 14, 44);
    border-radius:100px;
    text-decoration: none;
    font-size: larger;
    width: 30px;
    padding:20px;
    margin-right: 30px;
}

.retour{
display: flex;
justify-content: space-around;
}
    

.setup{
    background-color: coral;
    width: 15000px;
}

#projecttest{
    background-color: rgb(24, 44, 94);
}

.projectset{
    background-color: rgb(132, 168, 198);
   width: 5000px;
   height: fit-content;
   overflow: hidden;
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
}

#annonce{

top: 40px;
}

#aboutme{
    width: 1510px;
}

h1{
    text-decoration: none;
    color: rgb(61, 104, 179);
}

p #contact{
    text-decoration: none;
    color: rgb(61, 104, 179);
    size: 20px;
}



#navbar1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 10px;
    padding-right: 30px;
    top: 0px;
    font-family: sans-serif;
    align-content: flex-start;

}

.navbar1-links{
    display: inline;

}


#navbar1 a {
    color: rgb(225, 237, 246);
    text-decoration: none;
    
}

.navbar1-links a {
    padding: 20px;
}

.navbar-links1{
    margin-top: 10px;
}

.navbar-links1 a{
    padding: 5px;
}


#projecttest .tt{
   display: flex;
   align-items: center;
justify-content: flex-start;
flex-direction: row;
}

.pageprojet{
    width: 85vw;
}

.bandepageprojet{
    width: 280px;
}


.imexpl{
    width: 600px;
    padding-left: 200px;
    padding-right: 200px;
}

.immore{
    width: 600px;
}

.zinzin{
    background-color: rgb(156, 179, 223);
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    margin-left: 150px;
    margin-right: 100px
}

.immorepro{
    width: 250px;
}

.immore1{
    width: 350px;
    margin: 20px;

}

.imexpl1{
        width: 400px;
        padding-left: 200px;
        padding-right: 200px;
    
}

.moreproject{
    background-color: rgb(198, 215, 232);
    height: 600px;
    width: 600px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descrmorepro{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}


.po1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}


h2{
    color: rgb(15, 40, 68);
}

#bas{
    display: flex;
    flex-direction: column;
    align-items: center;
}